/* TaskForm.module.css */
.form {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}
.form input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form button {
  padding: 10px 20px;
  border: none;
  background-color: #8a2be2; /* Roxo */
  color: white;
  cursor: pointer;
  border-radius: 4px;
}
