.filterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.filterContainer button {
  padding: 8px 16px;
  border: 1px solid #ccc;
  background-color: #f8f9fa;
  color: #333;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}

.filterContainer button:hover {
  background-color: #e2e6ea;
}

.filterContainer button.active {
  background-color: #8a2be2; /* Roxo */
  color: white;
  border-color: #8a2be2;
}
